@model IEnumerable<HealthConsulting.Models.Doctor>
@{
    ViewBag.Title = "Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Doctors</h2>
@if (!Model.Any())
{
    <p>We don't have any Doctors yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>About Doctor</th>
                <th>Specialist Area</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
                var FullName = doctor.FirstName + " " + doctor.LastName;
                <tr>
                    <td>@Html.ActionLink(FullName, "Edit", "Doctor", new { id = doctor.Id }, null)</td>
                    <td>@doctor.AboutHim</td>
                    <td>@doctor.SpecialistArea</td>
                    <td><a href="#" class="btn btn-warning">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}

