<div class="footer-wrapper">
    <div class="container-fluid">
        <div class="footer-social-icons">
            <ul>
                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-skype"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-wechat"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="footer-mid-part">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer-section-one">
                    <div class="footer-heading"><h2>Contact Us</h2></div>
                    <div class="footer-contact-box">
                        <div class="footer-contact-icon"><i class="fa fa-map-marker"></i></div>
                        <div class="footer-contact-text">
                            <p><a href="#">Adress : 594, <br /> Hamlet 02, <br /> South Bank,<br /> Luugamwehera</a></p>
                        </div>
                        <div class="clr"></div>
                    </div>


                    <div class="footer-contact-box">
                        <div class="footer-contact-icon"><i class="fa fa-phone"></i></div>
                        <div class="footer-contact-text">
                            <p><a href="#">Telephone : 071 5541748</a></p>
                        </div>
                        <div class="clr"></div>
                    </div>


                    <div class="footer-contact-box">
                        <div class="footer-contact-icon"><i class="fa fa-fax"></i></div>
                        <div class="footer-contact-text">
                            <p><a href="#">Fax : 071 5541748</a></p>
                        </div>
                        <div class="clr"></div>
                    </div>


                    <div class="footer-contact-box">
                        <<div class="footer-contact-icon"><i class="fa fa-envelope"></i></div>
                        <div class="footer-contact-text">
                            <p><a href="#">dspdamithse@gmail.com</a></p>
                        </div>
                        <div class="clr"></div>
                    </div>


                    <div class="footer-contact-box">
                        <div class="clr"></div>
                        <div class="footer-contact-icon"><i class="fa fa-globe"></i></div>
                        <div class="footer-contact-text">
                            <p><a href="#">www.google.com</a></p>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer-section-two">
                    <div class="footer-heading"><h2>Quick Links</h2></div>
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Graphic Design</a></li>
                            <li><a href="#">Web Marketing</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Training</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer-section-three">
                    <div class="footer-heading"><h2>Our Services</h2></div>
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">Linux Hosting</a></li>
                            <li><a href="#">Windows Hosting</a></li>
                            <li><a href="#">Domain Registration</a></li>
                            <li><a href="#">SEO Promotion</a></li>
                            <li><a href="#">Our Plans</a></li>
                            <li><a href="#">Latest Offeres</a></li>
                            <li><a href="#">Site Map</a></li>
                            <li><a href="#">Web Mail</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer-section-four">
                    <div class="footer-heading"><h2>Get in touch</h2></div>
                </div>
            </div>

        </div>
    </div>
</div>

